.login {
  background-size: cover;
  height: 100%;
  .login-card {
    box-shadow: 0px 0px 5px #666;
    padding: 15px;
    margin: 50px auto 0px auto;
    animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
    background-color: #fff;
    max-width: 400px;
    width: auto;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
