<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="folder"></ion-icon>
      {{categoria?.nombre}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>
        Carpetas
      </ion-list-header>
      <button ion-item *ngFor="let cat of categorias" item-start (click)="goToCategoria(cat)" [@fadeInOut]>
        <!-- <ion-icon name="md-folder" color="primary" large item-left></ion-icon> -->
        <ion-avatar item-left>
          <img src="assets/imgs/folder.png">
        </ion-avatar>
        {{ cat.nombre }}
      </button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="documentos">
    <ion-list>
      <ion-list-header>
        Documentos
      </ion-list-header>
      <button ion-item *ngFor="let doc of documentos" item-start [@fadeInOut] (click)="openDocument(doc)">
        <ion-icon name="document" large color="primary" item-left></ion-icon>
        {{ doc.titulo }}
        <p [innerHTML]="doc.descripcion"></p>
        <span *ngIf="doc.mime" item-right color="primary">{{doc.mime}}</span>
      </button>
    </ion-list>
  </ion-card>
</ion-content>
