<ion-header>
<ion-toolbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="cliente" class="fadeIn animated">
    <ion-card-header>
      {{cliente.full_name}}  -  {{cliente.nit}}
    </ion-card-header>
    <ion-card-content>
      <!-- <div *ngIf="cliente.foto_url" class="image-cliente">
        <img [src]="cliente.foto_url" class="rubberBand animated delay-2">
      </div> -->
      <!-- <ion-list>
        <ion-item>
          <ion-icon name="document" item-left></ion-icon>
          {{cliente.nit}}
        </ion-item>

        <ion-item *ngIf="cliente.email">
          <ion-icon name="mail" item-left></ion-icon>
          {{cliente.email}}
        </ion-item>

        <ion-item *ngIf="cliente.direccion">
          <ion-icon name="locate" item-left></ion-icon>
          {{cliente.direccion}}
        </ion-item>

      </ion-list> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="fadeIn animated">
    <ion-card-title text-center>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="api.url+'img/logo.png'" style="height:100px;width:180px;margin:0 auto;">
          </ion-col>
          <ion-col>
            <img src="assets/imgs/sintrenal-logo.jpg" style="height:100px;width:180px;margin:0 auto;">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
    <ion-card-content style="">
      <span>
        Presidente(a). {{ api.user?.nombre }}
        <br> En esta plataforma encontrará los contratos y poderes de todos los procesos que la Unión Temporal adelanta en el Departamento
        y sus municipios así:
      </span>
      <pre style="font-family:Roboto,'Helvetica Neue',sans-serif">
              · <b>CARPETA DEL DEPARTAMENTO:</b>
                  - Contiene todos los formatos que se requieren para iniciar los diferentes procesos
              · <b> CARPETA INFORMACIÓN GENERAL:</b>

                  - Carta Instructivo

                  -Comunicados

                  -Otros
      </pre>
    </ion-card-content>
  </ion-card>

  <ion-card class="fadeIn animated" *ngIf="categorias">
    <ion-list>
      <ion-list-header color="light">
        <b>Carpetas</b>
      </ion-list-header>
      <button [@fadeInOut] ion-item *ngFor="let cat of categorias" item-start (click)="goToCategoria(cat)">
        <ion-icon item-left name="folder"></ion-icon>
        {{cat.nombre}}
      </button>
    </ion-list>
  </ion-card>

  <p>
    En caso de presentar cualquier inquietud, no dude en comunicarse con nosotros.
    <span>Cordialmente, Unión Temporal Asesores Laborales</span>
  </p>


  <ion-toolbar color="primary" style="color:white;" text-center>
    <h3>INFORMACIÓN GENERAL</h3>
    <p>Cra 9 No 113 - 52 Oficina 608 Torres Unidas II</p>
    <p>(57)1 6122120 - 6374369 Bogotá DC. Colombia</p>
    <a ion-text color="secondary" href="mailto:contactenos@unionasesoreslaborales.com" target="_system">contactenos@unionasesoreslaborales.com</a>
  </ion-toolbar>
</ion-content>

<ion-footer>
</ion-footer>
