<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="cliente" class="fadeIn animated">
    <ion-card-header>
      {{cliente.full_name}}
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="cliente.foto_url" class="image-cliente">
        <img [src]="cliente.foto_url" class="rubberBand animated delay-2">
      </div>
      <ion-list>
        <ion-item>
          <ion-icon name="document" item-left></ion-icon>
          {{cliente.nit}}
        </ion-item>

        <ion-item *ngIf="cliente.email">
          <ion-icon name="mail" item-left></ion-icon>
          {{cliente.email}}
        </ion-item>

        <ion-item *ngIf="cliente.direccion">
          <ion-icon name="locate" item-left></ion-icon>
          {{cliente.direccion}}
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="fadeIn animated" *ngIf="categorias">
    <ion-list>
      <ion-list-header color="light">Carpetas</ion-list-header>
      <button [@fadeInOut] ion-item *ngFor="let cat of categorias" item-start (click)="goToCategoria(cat)">
        <ion-icon item-left name="folder"></ion-icon>
        {{cat.nombre}}
      </button>
    </ion-list>
  </ion-card>

  <ion-card class="fadeIn animated">
    <ion-card-title text-center>
      <img [src]="api.url+'img/logo.png'" style="height:100px;width:180px;margin:0 auto;">
    </ion-card-title>
    <ion-card-content class="ng-tns-c0-1 card-content card-content-md">
      <p text-justify="">

        <span>
          Sr(a). Carlos Sanchez
          <br class="ng-tns-c0-1"> En esta plataforma encontrará los contratos y poderes de todos los procesos que la Unión Temporal adelanta en el
          Departamento y sus municipios así:
        </span>
          <pre style="font-family:Roboto,'Helvetica Neue',sans-serif">
  · CARPETA DEL DEPARTAMENTO:                 
      - contiene todos los formatos que se requieren para iniciar los diferentes procesos
  ·  CARPETA INFORMACIÓN GENERAL:             
      - Carta Instructivo
      -Comunicados
      -Otros 
          </pre>
        <span>
          En caso de presentar cualquier inquietud, no dude en comunicarse con nosotros.
        </span>
      </p>
    </ion-card-content>
  </ion-card>
  </ion-card>
</ion-content>
